@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800;900&display=swap");
html {
  color: #06081C;
  font-size: 1rem;
  font-family: "Gothic A1", "Segoe UI", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #ffffff;
  background-color: #06081C;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a,
button,
input,
textarea {
  font-family: "Segoe UI", Verdana, sans-serif;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  padding: 25px 0;
}
@media (max-width: 768px) {
  .header {
    padding: 16px 0;
  }
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo a {
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
}
.header__nav-link {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header__nav-button {
  padding: 15px 24px;
  margin: 0;
  border-radius: 12px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  background: #1a1d34;
}
.header__burger-btn {
  display: none;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  background-image: url(../assets/icons/menu-alt.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 36px;
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header__burger-btn {
    display: inline-block;
  }
}
@media (max-width: 576px) {
  .header__burger-btn {
    width: 32px;
    height: 32px;
    background-size: 30px;
  }
}
.header__burger-btn:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.header__burger-btn:active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.first-screen {
  display: none;
}

.advantages__title {
  margin: 0 0 24px;
  color: #ffffff;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 111%;
}
@media (max-width: 768px) {
  .advantages__title {
    font-size: 20px;
  }
}
.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 44px;
}
@media (max-width: 1200px) {
  .advantages__list {
    gap: 24px;
  }
}
.advantages__card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}
@media (max-width: 768px) {
  .advantages__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 12px);
            flex: 0 1 calc(50% - 12px);
  }
}
@media (max-width: 576px) {
  .advantages__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.advantages__card-image {
  margin: 0 0 24px;
  padding: 0;
}
@media (max-width: 768px) {
  .advantages__card-image {
    text-align: center;
  }
}
.advantages__card-image img {
  width: 210px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 1200px) {
  .advantages__card-image img {
    width: 180px;
  }
}
@media (max-width: 768px) {
  .advantages__card-image img {
    width: 150px;
  }
}
.advantages__card-text {
  margin: 0;
  color: rgba(255, 255, 255, 0.75);
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
@media (max-width: 768px) {
  .advantages__card-text {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .advantages__card-text {
    font-size: 14px;
  }
}

.how-to-get {
  display: none;
}

.opportunity {
  display: none;
}