@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800;900&display=swap");
html {
  color: #06081C;
  font-size: 1rem;
  font-family: "Gothic A1", "Segoe UI", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #ffffff;
  background-color: #06081C;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a,
button,
input,
textarea {
  font-family: "Segoe UI", Verdana, sans-serif;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  padding: 12px 24px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border: none;
  border-radius: 12px;
  background-color: #1b45f5;
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  cursor: pointer;
}
.button:hover {
  background-color: #1940db;
}
.button:active {
  background-color: #1438c4;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  padding: 25px 0;
}
@media (max-width: 768px) {
  .header {
    padding: 16px 0;
  }
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo a {
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
}
.header__nav-link {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header__nav-button {
  padding: 15px 24px;
  margin: 0;
  border-radius: 12px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  background: #1a1d34;
}
.header__burger-btn {
  display: none;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  background-image: url(../assets/icons/menu-alt.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 36px;
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header__burger-btn {
    display: inline-block;
  }
}
@media (max-width: 576px) {
  .header__burger-btn {
    width: 32px;
    height: 32px;
    background-size: 30px;
  }
}
.header__burger-btn:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.header__burger-btn:active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.first-screen {
  margin: 0 0 88px;
}
@media (max-width: 992px) {
  .first-screen {
    margin: 0 0 58px;
  }
}
.first-screen .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}
@media (max-width: 992px) {
  .first-screen .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
}
@media (max-width: 768px) {
  .first-screen .container {
    gap: 32px;
  }
}
@media (max-width: 576px) {
  .first-screen .container {
    gap: 24px;
  }
}
.first-screen__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 552px;
          flex: 1 1 552px;
}
@media (max-width: 992px) {
  .first-screen__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.first-screen__title {
  margin: 32px 0 24px;
  color: #ffffff;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 111%;
}
@media (max-width: 992px) {
  .first-screen__title {
    max-width: 768px;
    margin: 32px auto 24px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .first-screen__title {
    margin: 24px auto 16px;
    font-size: 44px;
  }
}
@media (max-width: 576px) {
  .first-screen__title {
    font-size: 32px;
  }
}
.first-screen__text {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
@media (max-width: 992px) {
  .first-screen__text {
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .first-screen__text {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .first-screen__text {
    font-size: 14px;
  }
}
.first-screen__text_top {
  padding-left: 16px;
}
@media (max-width: 992px) {
  .first-screen__text_top {
    padding: 0;
  }
}
.first-screen__buttons {
  margin-top: 24px;
}
@media (max-width: 992px) {
  .first-screen__buttons {
    text-align: center;
  }
}
.first-screen__offer {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 658px;
          flex: 1 1 658px;
  padding: 0 0 90px;
}
@media (max-width: 992px) {
  .first-screen__offer {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
.first-screen__offer-image {
  text-align: center;
}
.first-screen__offer-image img {
  max-width: 658px;
  width: 100%;
  height: auto;
}
@media (max-width: 992px) {
  .first-screen__offer-image img {
    max-width: 560px;
  }
}
.first-screen__offer-block {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 520px;
  padding: 35px 24px;
  margin: 0 auto;
  border-radius: 48px;
  border: 1px solid #3b37ff;
  background: rgba(255, 255, 255, 0.03);
  -webkit-backdrop-filter: blur(28px);
          backdrop-filter: blur(28px);
}
@media (max-width: 768px) {
  .first-screen__offer-block {
    padding: 32px 18px;
    border-radius: 24px;
  }
}
@media (max-width: 576px) {
  .first-screen__offer-block {
    padding: 24px 14px;
    border-radius: 24px;
  }
}
.first-screen__offer-title {
  margin: 0;
  color: #ffffff;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 111%;
  text-align: center;
}
@media (max-width: 768px) {
  .first-screen__offer-title {
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  .first-screen__offer-title {
    font-size: 16px;
  }
}
.first-screen__offer-title span {
  font-weight: 800;
}
.first-screen__offer-progress {
  position: relative;
}
.first-screen__offer-progress-bar {
  position: relative;
  height: 12px;
  width: 100%;
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.first-screen__offer-progress-bar::before {
  top: 0px;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  display: block;
  height: 100%;
  width: 90%;
  border-radius: 32px;
  background: #3b37ff;
}
.first-screen__offer-progress-text {
  padding: 20px 0;
  padding-right: 86px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
@media (max-width: 768px) {
  .first-screen__offer-progress-text {
    font-size: 16px;
    line-height: 16px;
  }
}
@media (max-width: 576px) {
  .first-screen__offer-progress-text {
    padding: 14px 0;
    padding-right: 40px;
    font-size: 12px;
    line-height: 12px;
  }
}
.first-screen__offer-progress-label {
  position: absolute;
  bottom: 32px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 8px 2px;
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  border-radius: 36px;
  background: #1b45f5;
}
@media (max-width: 768px) {
  .first-screen__offer-progress-label {
    font-size: 16px;
    line-height: 16px;
  }
}
@media (max-width: 576px) {
  .first-screen__offer-progress-label {
    bottom: 26px;
    font-size: 12px;
    line-height: 12px;
  }
}

.advantages {
  padding: 0 0 24px;
}
.advantages__title {
  margin: 0 0 24px;
  color: #ffffff;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 111%;
}
@media (max-width: 992px) {
  .advantages__title {
    margin: 0 0 32px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .advantages__title {
    font-size: 20px;
  }
}
.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 44px;
}
@media (max-width: 1200px) {
  .advantages__list {
    gap: 24px;
  }
}
.advantages__card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}
@media (max-width: 768px) {
  .advantages__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 12px);
            flex: 0 1 calc(50% - 12px);
  }
}
@media (max-width: 576px) {
  .advantages__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.advantages__card-image {
  margin: 0 0 24px;
  padding: 0;
}
@media (max-width: 768px) {
  .advantages__card-image {
    text-align: center;
  }
}
.advantages__card-image img {
  width: 210px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 1200px) {
  .advantages__card-image img {
    width: 180px;
  }
}
@media (max-width: 768px) {
  .advantages__card-image img {
    width: 150px;
  }
}
.advantages__card-text {
  margin: 0;
  color: rgba(255, 255, 255, 0.75);
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
@media (max-width: 768px) {
  .advantages__card-text {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .advantages__card-text {
    font-size: 14px;
  }
}

.how-to-get {
  display: none;
}

.opportunity {
  padding: 212px 0 202px;
}
@media (max-width: 992px) {
  .opportunity {
    padding: 180px 0 180px;
  }
}
@media (max-width: 768px) {
  .opportunity {
    padding: 150px 0 150px;
  }
}
@media (max-width: 576px) {
  .opportunity {
    padding: 120px 0 120px;
  }
}
.opportunity__title {
  margin: 0 0 8px;
  color: #ffffff;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 111%;
  text-align: center;
}
@media (max-width: 992px) {
  .opportunity__title {
    font-size: 64px;
  }
}
@media (max-width: 768px) {
  .opportunity__title {
    font-size: 50px;
    margin: 0 0 24px;
  }
}
@media (max-width: 576px) {
  .opportunity__title {
    font-size: 40px;
  }
}
.opportunity__title_secondary {
  margin: 0 0 12px;
  color: #ffffff;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 111%;
  text-align: center;
}
@media (max-width: 992px) {
  .opportunity__title_secondary {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .opportunity__title_secondary {
    font-size: 26px;
  }
}
@media (max-width: 576px) {
  .opportunity__title_secondary {
    font-size: 24px;
  }
}
.opportunity__text {
  margin: 0 auto 56px;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
}
@media (max-width: 992px) {
  .opportunity__text {
    margin: 0 auto 50px;
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .opportunity__text {
    margin: 0 auto 44px;
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .opportunity__text {
    margin: 0 auto 32px;
    font-size: 13px;
  }
}
.opportunity__text_marked {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 8px 16px 4px;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  border-radius: 36px;
  background: #3b37ff;
}
@media (max-width: 992px) {
  .opportunity__text_marked {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .opportunity__text_marked {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .opportunity__text_marked {
    font-size: 13px;
  }
}
.opportunity__buttons {
  margin: 12px 0 0;
  text-align: center;
}
.opportunity .button {
  position: relative;
  padding: 24px 36px;
  text-align: center;
}
.opportunity .button::before {
  content: "";
  position: absolute;
  top: 24px;
  left: -104px;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url(../assets/arrow-left.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  background-size: cover;
}
@media (max-width: 576px) {
  .opportunity .button::before {
    left: -72px;
    width: 70px;
    height: 70px;
  }
}
.opportunity .button::after {
  content: "";
  position: absolute;
  top: 37px;
  right: -100px;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url(../assets/arrow-right.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
@media (max-width: 576px) {
  .opportunity .button::after {
    top: 30px;
    right: -70px;
    width: 70px;
    height: 70px;
  }
}

.footer {
  padding: 36px 0 30px;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 48px;
  margin: 0 0 48px;
}
@media (max-width: 768px) {
  .footer__info {
    gap: 24px;
  }
}
@media (max-width: 576px) {
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
    margin: 0 0 32px;
  }
}
.footer__info-wrapper {
  max-width: 930px;
}
.footer__title {
  margin: 0 0 8px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%;
}
@media (max-width: 768px) {
  .footer__title {
    font-size: 16px;
  }
}
.footer__text {
  margin: 0;
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__social {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
}
@media (max-width: 992px) {
  .footer__social {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 110px;
            flex: 0 0 110px;
  }
}
@media (max-width: 576px) {
  .footer__social {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.footer__social-link {
  display: inline-block;
}
@media (max-width: 992px) {
  .footer__social-link {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    max-width: 48px;
  }
}
@media (max-width: 768px) {
  .footer__social-link {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    max-width: none;
  }
}
.footer__social-link img {
  max-width: 48px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .footer__social-link img {
    max-width: 40px;
  }
}
@media (max-width: 576px) {
  .footer__social-link img {
    max-width: 32px;
  }
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 72px;
  margin: 0 0 44px;
}
@media (max-width: 992px) {
  .footer__nav {
    gap: 48px;
  }
}
@media (max-width: 768px) {
  .footer__nav {
    gap: 24px;
    margin: 0 0 32px;
  }
}
@media (max-width: 576px) {
  .footer__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 32px 16px;
  }
}
.footer__nav-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
@media (max-width: 768px) {
  .footer__nav-block {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
  }
}
@media (max-width: 576px) {
  .footer__nav-block {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 45%;
            flex: 1 1 45%;
  }
}
.footer__nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  margin: 20px 0 0;
}
@media (max-width: 768px) {
  .footer__nav-links {
    gap: 8px;
    margin: 12px 0 0;
  }
}
.footer__nav-link {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 162.5%;
}
@media (max-width: 768px) {
  .footer__nav-link {
    font-size: 14px;
  }
}
.footer__nav-link_region {
  padding-left: 16px;
  background: no-repeat left center;
  background-size: 12px;
}
.footer__nav-link_region_us {
  background-image: url(../assets/countries/unitedstates.svg);
}
.footer__nav-link_region_ru {
  background-image: url(../assets/countries/russia.svg);
}
.footer__nav-link_region_ch {
  background-image: url(../assets/countries/china.svg);
}
.footer__nav-link_region_tr {
  background-image: url(../assets/countries/turkey.svg);
}
.footer__nav-link_region_ko {
  background-image: url(../assets/countries/southkorea.svg);
}
.footer__copyrights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px;
  color: rgba(255, 255, 255, 0.25);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 992px) {
  .footer__copyrights {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
  }
}
@media (max-width: 768px) {
  .footer__copyrights {
    font-size: 14px;
  }
}
.footer__copyrights-excluded {
  max-width: 740px;
}
@media (max-width: 768px) {
  .footer__copyrights-excluded {
    max-width: none;
  }
}