@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800;900&display=swap');

html {
  color: $black;
  font-size: 1rem;
  font-family: 'Gothic A1', 'Segoe UI', sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: $white;
  background-color: $black;
}

a {
  color: $white;
  text-decoration: none;
}

a,
button,
input,
textarea {
  font-family: 'Segoe UI', Verdana, sans-serif;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}
